certifciate_quality_classifier/.ipynb_checkpoints/*
ML_apps/.idea/*
adverse_event_detection/.ipynb_checkpoints/*
Experiments_learning/.ipynb_checkpoints/*
Experiments_learning/Modelling_Car_Insurance_Claim_Outcomes/.ipynb_checkpoints/*
*/ipynb_*
Experiments_learning/KMeansClustering/.ipynb_checkpoints/*
Experiments_learning/Rental_DVD/.ipynb_checkpoints/*
